.modal {
  display: grid; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: flex-end;
  align-items: center;
  padding: 4px 20px;
}
@media (max-width: 640px) {

 .modal {
  display: flex; /* Hidden by default */
  left: 0;
  bottom: 0;
  align-items: flex-end;
  padding: 4px 0px;
  padding-left: 0;
;
}


}